@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-surface: #ffffff;
  --color-surface-alt: #f7f7f7;
  --color-border: #e5e5e5;
  --color-border-strong: #d4d4d4;
  --color-text: #0f0f0f;
  --color-text-muted: #707070;

  --color-primary: #ef3a3a;       /* merah aksen seperti foto referensi */
  --color-primary-hover: #d92e2e;
  --color-primary-soft: #fff1f1;

  --color-success: #137333;
  --color-success-soft: #e6f4ea;
  --color-warning: #b06000;
  --color-warning-soft: #fff4e0;
  --color-danger: #c0392b;
  --color-danger-soft: #fdecea;
}

html, body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans), -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* utilities */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
